$layoutPrimaryColor: #00D8FF;
$layoutSecondaryColor: #F7F7F7;
$layoutTertiaryColor: #495057;

$menuPrimaryColor: #373a47;
$backgroundPrimaryColor: #121a24;
$sectionPrimaryColor: #1D1F21;
$hoverColor: rgb(255, 255, 255, 0.1);



