@import "../modules/colors";
@import "../modules/fonts";
@import "../modules/variables";

.documentation-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  @include screen('tablet768') {
    padding: 0.3125rem 0;
  }

  .documentation-expansionPanel {
    width: 85vw;
    margin: 0.625rem 0;
    border-radius: 5rem;
    border: 0.0625rem solid $layoutTertiaryColor;
    @include screen('tablet768') {
      padding: 0.625rem 0;
    }
    @include screen('desktop1280') {
      margin: 1.25rem 0;
      width: 90vw;
    }

    .documentation-details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .documentation-title {
      font-family: $secondaryFont;
      font-size: 1rem;
      color: $layoutTertiaryColor;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
      @include screen('tablet768') {
        font-size: 1.3rem;
      }
    }

    .documentation-content {
      width: 75vw;
      text-indent: 0.625rem;
      text-align: justify;
      text-justify: inter-word;
      @include screen('tablet1024') {
        width: 80vw;
      }
      @include screen('desktop1280') {
        width: 85vw;
      }
      &:first-letter {
        color: $layoutPrimaryColor;
      }
      p {
        margin-bottom: 1.7rem;
      }

      .documentation-code {
        width: 75vw;
        text-indent: 0;
        border-radius: 0.4375rem;
        @include screen('tablet1024') {
          width: 80vw;
        }
        @include screen('desktop1280') {
          width: 85vw;
        }
      }
    }
  }
}


