@import "../modules/colors";
@import "../modules/fonts";
@import "../modules/variables";

.goodPractices-article {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.4rem;
    text-align: center;
    @include screen('tablet768') {
      font-size: 1.8rem;
    }
  }

  p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 90vw;
    margin: 2.1875rem 0;
    padding: 1.25rem 0;
    text-indent: 0.625rem;
    text-align: justify;
    text-justify: inter-word;

    &:first-letter {
      color: $layoutPrimaryColor;
    }
  }

  .goodPractices-code {
    width: 100vw;
    margin-bottom: 3.75rem;
    @include screen('tablet768') {
      font-size: 1.1rem;
    }
    @include screen('desktop1280') {
      width: 90vw;
    }
  }
}

