@import "../modules/colors";
@import "../modules/animations";
@import "../modules/variables";

.bm-burger-button {
  @include animation(scale-up-center 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both);
  position: fixed;
  left: 86vw;
  top: 3vh;
  width: 8vw;
  height: 4vh;
  @include screen('tablet768') {
    left: 90vw;
    width: 6vw;
  }
  @include screen('tablet1024') {
    left: 93vw;
    width: 4.5vw;
    height: 2.8vh;
    top: 1.7vh;
  }
  @include screen('desktop1280') {
    left: 93vw;
    width: 3vw;
    height: 3vh;
  }
  @include screen('desktop1366') {
    left: 95vw;
    width: 2.9vw;
    height: 3.9vh;
  }
  @include screen('desktop1600') {
    left: 95vw;
    width: 2.5vw;
    height: 3.6vh;
    top: 4vh;
  }
}

.bm-burger-bars {
  left: 100%;
  background: $layoutPrimaryColor;
}

.bm-menu-wrap {
  min-width: 50vw;
  max-width: 50vw;
  @include screen('desktop1280') {
    min-width: 25vw;
    max-width: 25vw;
  }

  .bm-cross-button {
    max-height: 1.5rem;
    max-width: 1.5rem;
    display: flex;
    justify-content: flex-end;
    @include screen('tablet768') {
      min-height: 1.875rem;
      min-width: 2rem;
    }
    @include screen('tablet1024') {
      min-height: 3.125rem;
      min-width: 3.8rem;
    }
    @include screen('desktop1280') {
      min-height: 2.125rem;
    }
    @include screen('desktop1600') {
      min-height: 3.125rem;
    }
  }

  .bm-cross {
    background: $layoutPrimaryColor;
    position: fixed;
    width: 0.625rem;
    @include screen('tablet768') {
      min-height: 1.5625rem;
    }
    @include screen('tablet1024') {
      min-height: 2.5rem;
      margin-left: -1.25rem;
    }
    @include screen('desktop1280') {
      min-height: 1.5rem;
      margin-left: -1.25rem;
    }
  }

  .bm-menu {
    background: $menuPrimaryColor;
    padding: 2.5em 0;
    width: 100%;
    text-align: center;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;

    .bm-item-list {
      color: $layoutSecondaryColor;
      padding: 0.8em;

      .bm-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        color: $layoutSecondaryColor;
        text-decoration: none;
        margin: 0.3125rem 0 0.3125rem 0;
        @include screen('tablet768') {
          font-size: 1.5rem;
        }
        @include screen('desktop1280') {
          font-size: 1.3rem;
        }
        @include screen('desktop1366') {
          font-size: 1.2rem;
        }

        &:hover {
          color: $layoutPrimaryColor;
          text-decoration: none;
        }
      }
    }
  }
}

.fa-react {
  min-width: 2.3rem;
  min-height: 2.3rem;
  @include screen('tablet768') {
    min-width: 4rem;
    min-height: 4rem;
  }
  @include screen('tablet1024') {
    min-width: 5rem;
    min-height: 5rem;
  }
  @include screen('desktop1280') {
    min-width: 3rem;
    min-height: 3rem;
  }
}


