@import "../modules/colors";
@import "../modules/variables";

.news-article {
  background-color: $layoutSecondaryColor;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1.5rem 3rem;
  max-width: 9.375rem;
  max-height: 12.5rem;
  width: 100%;
  height: 100%;
  margin: 0.625rem 1rem;
  border-radius: 0.3125rem;
  border: 1px solid $sectionPrimaryColor;
  img {
    width: 4rem;
    height: 4rem;
  }
  h4 {
    color: $sectionPrimaryColor;
    font-size: 1rem;
    margin-top: 0.625rem;
  }
  p {
    margin-top: 0.625rem;
    max-width: 13.75rem;
    max-height: 18.75rem;
    display: none;
    color: $layoutSecondaryColor;
  }
}

.news-links {
  color: $layoutSecondaryColor;
  &:hover {
    color: $layoutSecondaryColor;
    text-decoration: none;
  }
}
