/* RESET CSS **********************************************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BURGER MENU ********************************************************************************************************/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    left: 86vw;
    top: 3vh;
    width: 8vw;
    height: 4vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    left: 100%;
    background: #00D8FF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    max-height: 1.5rem;
    max-width: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #00D8FF;
    position: fixed;
    width: 10px;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 0;
    font-size: 1.15em;
    width: 100%;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0.3125rem 0 0.3125rem 0;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/* Menu width for all screens */
.bm-menu-wrap {
    min-width: 50vw;
    max-width: 50vw;
}

/* Container style */
.containerMenu {
    z-index: 1;
    max-width: 100vw;
    max-height: 11vh;
}

/* Menu style */
.menu {
    max-height: 100%;
    max-width: 15em;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FEFEFE;
    font-size: 1.2rem;
}

.menu-links:hover {
    color: #00D8FF;
    text-decoration: none;
}

.menu-links:focus {
    color: #00D8FF;
    text-decoration: none;
}

.menu-img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.9375rem;
}

/* BACKGROUND STARS ***************************************************************************************************/

.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: block;
    overflow-x: hidden;
    z-index: 0;
    background: #121a24 url("../images/stars.png") repeat fixed;
}

/* LOGO ***************************************************************************************************************/

/* Logo style */
.logo {
    max-width: 70vw;
    max-height: 70vw;
    margin-top: 15vh;
    animation: rotate-center 120s linear infinite both;
}

/* Logo container positions */
.logo-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* H1 style in logo container */
.logo-h1 {
    font-size: 9vh;
    color: #FEFEFE;
    font-family: Sigmar One, cursive;
    margin-top: 3rem;
    z-index: 1;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    text-shadow: 0 0.625rem rgb(73, 80, 87);
}

/* H2 style in logo container */
.logo-h2 {
    font-size: 4vh;
    color: #00D8FF;
    font-family: Sigmar One, cursive;
    margin-top: -0.625rem;
    z-index: 1;
    animation: scale-up-center 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Logo button */
.logo-button {
    border-radius: 50%;
    outline: red;
    border: 0;
    margin-top: 0.9rem;
    background-color: #00D8FF;
    width: 100vw;
    height: 100vh;
    max-width: 2.7rem;
    max-height: 2.7rem;
    color: #fff;
    border: none;
    cursor: pointer;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.logo-button:hover {
    box-shadow: 0 0 6.25rem 0.625rem rgb(0, 216, 255);
}

.logo-button:focus {
    outline: none;
}

/* Logo image rotate animations */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Logo image hover animation */
.scale-up-center {
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    font-family: Sigmar One, cursive, sans-serif;
    z-index: 1;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Logo button slide down animations - mouseenter */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation: fadeIn 5s
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Logo button slide down animations - mouseout */
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* DOCUMENTATION ******************************************************************************************************/

/* Documentation container */
.documentation {
    margin-bottom: 7.5rem;
}

/* Title */
.documentation-title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Drop-down panel */
.documentation-expansionPanel {
    max-width: 95vw;
    margin: 10px 0;
    border-radius: 5rem;
    border: 1px solid grey
}

/* Code style */
.documentation-codeStyle {
    width: 85vw;
    border-radius: 0.4375rem;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.documentation-content {
    width: 95vw;
    text-indent: 1.25rem;
}

/* GOOD PRACTICES *****************************************************************************************************/

.goodpractices-containerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goodpractices-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #F8F9FA;
    color: #495057;
}

/* Code style */
.goodpractices-codeStyle {
    width: 100vw;
    border-radius: 0.4375rem;
    margin-bottom: 3.75rem;
}

/* Paragraph style */
.goodpractices-paragraph {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100vw;
    margin: 2.1875rem 0;
    text-indent: 1.25rem;
    padding: 20px;
}

.goodpractices-h2 {
    margin: 20px 0 0 0;
    font-size: 1.4rem;
    text-align: center;
}

/* NEWS ***************************************************************************************************************/

.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 450px;
    width: 100vw;
    margin-bottom: 40px;
}

/* News elements */
.news-elements {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    padding: 1.5em;
    max-width: 9.375rem;
    max-height: 12.5rem;
    width: 100%;
    height: 100%;
    margin: 0.625rem 1.25rem;
    border-radius: 5px;
    border: 1px solid #000;
}

/* News style */
.news-paragraph {
    margin-top: 0.625rem;
    max-width: 13.75rem;
    max-height: 18.75rem;
    display: none;
    color: rgb(29, 31, 33);
}

/* News button */
.news-button {
    border-radius: 0.3125rem;
    background-color: rgb(29, 31, 33);
    max-width: 9.375rem;
    height: 1.7rem;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    width: 100%;
}

.news-button:hover, .news-button:focus {
    background-color: #00D8FF;
    color: #1b1e21;
    font-weight: 700;
}

.news-h4 {
    font-size: 14px;
    color: rgb(29, 31, 33);
}

/* MAIN APP COMPONENTS DISPLAY STYLE **********************************************************************************/

header {
    width: 100vw;
    height: 100vh;
}

.globalcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.globaltitles-h1 {
    text-align: center;
    color: #fff;
    margin: 40px 0;
    font-size: 2rem;
    font-family: Sigmar One, cursive, sans-serif;
    text-shadow: 0 1px 1px grey;
}

.globalcontainer-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* RWD ****************************************************************************************************************/

/* 360px */
@media screen and (min-width: 360px) {
    .logo-h1 {
        margin-top: 3.5rem;
    }

    .logo-button {
        margin-top: 3rem;
    }
}

/* 480px */
@media screen and (min-width: 480px) {
    .logo-button {
        margin-top: 1.5rem;
    }
}

/* iPad ~~ 768px */
@media screen and (min-width: 768px) {
    .bm-burger-button {
        left: 90vw;
        width: 6vw;
    }

    .bm-cross-button {
        min-height: 30px;
        min-width: 2rem;
    }

    .menu-links {
        font-size: 1.6rem;
    }

    .menu-img {
        width: 4rem;
        height: 4rem;
    }

    .logo-button {
        max-width: 3.7rem;
        max-height: 3.7rem;
        margin-top: 2.5rem;
    }

    .globaltitles-h1 {
        font-size: 2.5rem;
    }

    .goodpractices-h2 {
        font-size: 1.8rem;
    }

    .goodpractices-paragraph {
        font-size: 1.1rem;
    }

    .goodpractices-codeStyle {
        font-size: 1.1rem;
    }

    .news-button {
        height: 2rem;
        font-size: 0.9rem;
    }

    .news-h4 {
        font-size: 16px;
    }

    .documentation-title {
        font-size: 1.3rem;
    }

    .bm-cross {
        min-height: 25px;
    }
}

/* iPad Pro ~ 1024px */
@media screen and (min-width: 1024px) {
    .bm-burger-button {
        left: 90vw;
        width: 6vw;
    }

    .menu-links {
        font-size: 2.2rem;
    }

    .menu-img {
        width: 5rem;
        height: 5rem;
    }

    .logo-button {
        max-width: 6rem;
        max-height: 6rem;
        margin-top: 3rem;
    }

    .news-h4 {
        font-size: 16px;
    }

    .bm-cross {
        min-height: 40px;
        margin-left: -20px;
    }

    .bm-cross-button {
        min-height: 50px;
        min-width: 3.8rem;
    }

    .logo-h1 {
        margin-top: 6rem;
    }
}

/* Desktop 1280px x 720 */
@media screen and (min-width: 1280px) {
    .bm-burger-button {
        left: 93vw;
        width: 3vw;
        height: 2vw;
    }

    .bm-menu-wrap {
        min-width: 25vw;
        max-width: 25vw;
    }

    .menu-links {
        font-size: 1.5rem;
    }

    .menu-img {
        width: 4rem;
        height: 4rem;
    }

    .logo {
        max-width: 25vw;
    }

    .logo-button {
        max-width: 3rem;
        max-height: 3rem;
        margin-top: 2.5rem;
    }

    .logo-h1 {
        margin-top: 4rem;
    }

    .news-section {
        margin-bottom: -40px;
    }
}

/* Desktop most popular 1366px x 768 */
@media screen and (min-width: 1366px) {
    .bm-burger-button {
        left: 95vw;
        width: 3vw;
        height: 2vw;
    }

    .menu-links {
        font-size: 1.3rem;
    }

    .menu-img {
        width: 4rem;
        height: 4rem;
    }

    .logo {
        max-width: 27vw;
    }

    .logo-button {
        max-width: 3rem;
        max-height: 3rem;
        margin-top: 2.5rem;
    }

    .logo-h1 {
        margin-top: 4rem;
    }

    .news-section {
        margin-bottom: -40px;
    }
}

/* Desktop HD 1600px x 900 */
@media screen and (min-width: 1600px) {
    .bm-burger-button {
        left: 95vw;
        width: 2.5vw;
        height: 1.5vw;
    }

    .bm-cross-button {
        min-height: 50px;
        min-width: 3.8rem;
    }

    .menu-img {
        width: 4rem;
        height: 4rem;
    }

    .logo-h1 {
        margin-top: 4rem;
    }

    .news-section {
        margin-bottom: -40px;
    }

    .documentation-expansionPanel {
        margin: 20px 0;
    }
}